.navBar{
    display: flex;
    /* justify-content: space-around; */
    justify-content: right;
    box-shadow: 1px 1px 1px #dee0de;
}
ul{
    display: flex;
}
li{
    list-style: none;
    padding: 1px 15px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 22px;
}